.table-container {
    text-align: center;
    color: whitesmoke;
    border: 1px dashed #ffc600;
    width: 45%;
    padding: 10px;
    word-break: normal;
    margin: auto;
}

.table-th {
    background-color: black
}

.table-body {
    text-align: center;
    background-color: black;
    color: #ffc600;
}

thead>tr:first-child>th:last-child {
    padding: 0 .5em;
}

table {
    justify-content: center;
}

.text h4 {
    color: whitesmoke;
    padding: 1%;
    margin: 2%;
    text-align: center;
}