@model RoletopMVC.ViewModels.PedidoViewModel
    
    <main>
        <h2>Bem-Vindx</h2>
        <br>
        @Model.NomeUsuario
        <section class="section-container">

            <div class="agendar-evento">
                <p>Agendar Evento</p>
            </div>
            <br />
            <div class="imput_container">
                <label for="nomeEvento"> Nome do Evento</label>
                <br />
                <input id="nomeEvento" type="text" maxlength="60" minlength="3" name="nomeEvento">

                <br />
                <br />

                <label for="dataEvento"> Data do Evento</label>
                <br />
                <input id="dataEvento" type="date" name="dataEvento" />

                <br />
                <br />

                <label for="horaEvento"> Hora de Início</label>
                <br />
                <input id="horaEvento" type="time" name="horaEvento">

                <br />
                <br />

                <label for="observacoes"> Observações</label>
                <br />
                <input id="observacoes" type="text" name="observacoes"/>

                <br />
                <br />

                <label for="nomeParticipantes"> Nome dos Participantes</label>
                <br />
                <input id="nomeParticipantes" type="text" name="nomeParticipantes"/>

                <br />
                <br />

                <div class="double-field">
                    <div>
                        <label for="tipoEvento"> Tipo de Evento</label>
                        <select id="tipoEvento" name="tipoEvento" required>
                            
                            <option value="" disabled selected>Selecione</option>
                            
                            @foreach (var tipoEvento in Model.Evento)
                            {
                                <option value=@tipoEvento.Nome> @tipoEvento.Nome </option>
                            }
                        </select>
                    </div>
                </div>

                <label for="obs"> Observações (Nos diga como será o seu evento)</label>
                <br />
                <input id="obs" type="text" minlength="2">

                <br />
                <br />

                <label for="obs"> Nome Completo dos Participantes</label>
                <br />
                <input id="participantes" type="text" minlength="3">
            </div>
            
            <div class="finalizar">
                <a href="end.html"> Finalizar!</a>
            </div>
        </section>
    </main>