/*********************************************************
                            ALL DOC
**********************************************************/

*{
    margin: 0%;
    padding: 0%;
    background-color: #7D0093;
    color: #FFC600;
    font-family: 'Comic Sans MS';
    text-align: center;
}

/*********************************************************
                            LOGO
*********************************************************/
nav img {
    width: 10%;
    padding: 2%;
}

/*********************************************************
                    CONTAINER -  PHOTOS
**********************************************************/

.flex-group.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: #FFC600;
    font-family: 'Comic Sans MS';
    margin: 1.5px;
    max-width: 100%;
}

.photos {
    border: 1px solid #FFC600;
    margin: 3%;
    height: auto;
}

/*********************************************************
                            FOOTER
**********************************************************/

footer {
    color: #FFC600;
    font-weight: 400;
    font-size: 21px;
    z-index: 0;
}

footer table {
    width: 100%;
    padding: 0 10px;
    text-align: center;
}

footer table .endereço {
    width: 33.3%;
    text-align: justify;
    justify-content: center;
}

footer table .social {
    width: 33.3%;
    text-align: center;
}

footer table .mapa_site {
    width: 33.3%;
    text-align: center;
}