@model RoletopMVC.ViewModels.HistoricoViewModel
@{
    ViewData["Title"] = "Pedidos - Roletop";
    ViewData["H2"] = "Histórico de Eventos";
}

<main>
    <h2>@ViewData["H2"]</h2>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Evento</th>
                <th>Convidados</th>
            </tr>
        </thead>
        <tbody>
            @foreach( var pedido in Model.Pedidos ) {
                <tr>
                    <td>@pedido.DataDoPedido</td>
                    <td>@pedido.Evento.Nome</td>
                    <td>@pedido.Convidados</td>
                </tr>
            }
        </tbody>
    </table>

</main>