@model RoletopMVC.ViewModels.HistoricoViewModel
<main>
    
    <table>
        <thead>
            <tr>
                <th>Nome do Evento</th>
                <th>Data do Evento</th>
                <th>Hora do Evento</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach( var pedido in Model.Pedidos ) {
                <tr>
                    <td>@pedido.Evento.Nome</td>
                    <td>@pedido.HoraDoEvento</td>
                    <td>@pedido.Status</td>
                </tr>
            }
        </tbody>
    </table>

</main>