@model RoletopMVC.ViewModels.HistoricoViewModel
<main>
    
    <table class="table-container">
        <thead class="table-th">
            <tr>
                <th>Nome do Evento</th>
                <th>Data do Evento</th>
                <th>Hora do Evento</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <td>
                @foreach( var pedido in Model.Pedidos ) {
                    <tr>
                        <td>@pedido.Evento.Nome</td>
                        <td>@pedido.DataDoEvento</td>
                        <td>@pedido.HoraDoEvento</td>
                        <td>@pedido.Status</td>
                    </tr>
                }
            </td>
        </tbody>
    </table>

    <div class="text">
        <h4> STATUS PENDENTE = 0 / STATUS APROVADO = 1 / STATUS REPROVADO = 2 </h4>
    </div>

</main>