<main >
    <h2>Galeria</h2>

    <div id="galeria">
        <img src="img/buffet_photo1.jpg" alt="Foto da decoração de uma mesa na Roletop" title="Foto da decoração de uma mesa na Roletop">
        <img src="img/buffet_photo2.jpg" alt="Foto de um banquete na Roletop" title="Foto de um banquete na Roletop">
        <img src="img/buffet_photo3.jpg" alt="Foto do Espaço na Roletop" title="Foto do Espaço na Roletop">
        <img src="img/buffet_photo4.jpg" alt="Foto do espaço de convivência da Roletop" title="Foto do espaço de convivência da Roletop">
        <img src="img/buffet_photo5.jpg" alt="Foto de um casamento na Roletop" title="Foto de um casamento na Roletop">
        <img src="img/buffet_photo6.jpg" alt="Foto da decoração de um casamento na Roletop" title="Foto da decoração de um casamento na Roletop">
        
    </div>

</main>